@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {

  background-color: #495562;

}

.banner {

  width: 100%;
  max-height: 500px;

}

.banner-txt {

  color: #fff;
  width: 100%;
  max-width: 42em;

}

.btn {

  border-color: #97a49b;
  color: #fff;
  max-width: 25em;

}

.btn:hover{

  color: #efefef;

}

@media only screen and (min-width: 60em) {

  .banner-txt {

    float: left;
    position: relative;

  }

}
