@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


header {

  background-color: #495562;);

}

.banner {

  float: right;
  position: relative;
  width: 100%;

}

.banner-txt {

  float: left;
  position: absolute;
  max-height: 500px;
  background-color: #495562;
  color: #fff;
  width: 100%;
  max-width: 42em;

}

.btn {

  border: 8px #97a49b;

}
